
body {
    background-color: lightgray;
    font-family: 'Merriweather', serif;
}

.boxes {
    padding: 20px;
    border-style: solid;
    border-width: 4px;
    margin: 20px;
    width: 100%;
    align-content: center;
    align-self:auto;
}

/* #box2, #box1 {
    background-image: url("music.jpg");
    background-size: cover;  /* fills the box 
    margin-top: 100px;
    font-size: 2.5em;
    padding: 1em;
    color:  rgba(86,  121,   76,  1) ; /* just "color" here */
    /* rgb(255, 0, 0) */
    /* #fff -- /*  use rgba to get completely transparent  with a 0*/
    /*font-family:'Merriweather', serif; /* normally comes from google stylesheet */
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family:'Courier New', Courier, monospace;
    font-family: 'Dancing Script', cursive;
    float: right;
} */
#box-model-body {
    margin: 20px;
    width: 100%;
}

#box-model {
    width: 70%;
    padding: 10px;
    margin: auto;
    display: flex;  
}

#box-1 {
    margin: 30px;
    width: 475px;
    display: flex;
    float: right;
}
#box-1-5 {
    margin: 30px;
    width: 475px;
    display: flex;
}
#box-2 {
    margin: 30px;
    width: 450px;
    display: flex;
    float: right;
}

#box-3 {
    margin: 20px;
    width: 500px;
    display: flex;
}
#box-4 {
    /* margin: 10px;
    width: 800px; */
    padding: 10px;
    margin: auto;
    width: 60%;
    display: flex;  
}

#box-5 {
    margin: auto;
    width: 70%;
    display: flex;  
}


#box-6 {
    margin: auto;
    width: 80%;
    display: flex;  
}

#box-skinny {
    padding: 20px;
    border-style: solid;
    border-width: 4px;
    margin: 30px;
    width: 200px;
    align-content: center;
}

#box-square {
    border-style: solid;
    border-width: 4px;
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
}

.center {
    text-align: center;
}

link {
    font-family: 'Merriweather', serif;
    font-style: italic;
}

table {
   border-collapse: collapse;
   width:  50%;
   background-color: plum;
}

h1:hover {
    background-color: plum;
}

h2:hover {
    background-color: plum;
}

h3:hover {
    background-color: pink;
}

h4:hover {
    background-color: plum;
}

blockquote {
    border: teal;
    
}

th,td {
   padding: 8px;
   text-align: left;
   border-bottom: 1px solid blueviolet;
   border-left: rebeccapurple
}

tr:hover {
   background-color: pink;
}

tr:nth-child(even) {
   background-color: snow;
}


th,td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid blueviolet;
    border-left: rebeccapurple
 }

.hov {
    height: 200px;
    width: 200px;
    background-color: blue solid black;
    border-style : 1px solid black;
    margin-bottom: 20px;
}

.hov:hover {
    background-color: red;
}

.every-even li:nth-child(even) {
    background-color : lightpink;
}

.every-third li:nth-child(3n) {
    background-color: aqua;
}

img {
    border-radius: 5px solid black ;
    padding:  30px;
    margin: 10px;
    display: flex;
}

.img:hover {
    background-color: yellow;
    border-radius: 3px solid black ;
}

  h1 {
    color: purple;
    display: flex;
    background-color: snow;
    width: 4em;
    align-content: center;
    border-color: blueviolet; 
    border-radius: 90%;
    padding: 15px 32px;
    border-radius: 5px;
    font-family: 'Corinthia', cursive;
  }

  h2 {
      color: blueviolet;
      display: flex;
      font-family: 'Corinthia', cursive;
      padding: 30px;
  }

  h3 {
      color: paleturquoise;
      display: flex;
      font-family: 'Corinthia', cursive;
  }

  h4 {
      color: fuchsia;
      display: flex;
      font-family: 'Corinthia', cursive;
  }

div {
    background-color: silver; 
    border-style: solid; 
    border-color: blueviolet; 
    border-radius: 90%;
    padding: 15px 32px;
    border-radius: 5px;
}

.div-1 {
    display: flex;
}

p {
    font-family: 'Corinthia', cursive;
    font-size: 36px;
}
.shadow-text {
    text-shadow: gray 1px 1px;
}

button {
    border: 2px solid blueviolet;
    width: 200px;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 32px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 2px;
    font-family: 'Dancing Script', cursive;
}

iframe {
    padding: 5px;
}

.button:hover {
    background-color: lightgray;
    color: plum;
}

form {
    border: blueviolet;
    background: skyblue;
    border-style: dotted;
    width: 550px;
    /* padding-top: 30px;
    padding-left: 30px; */
    padding: 30px;
}

.big-text-30 {
    font-size: 30px;
}

table {
    padding: 30 px;
    width: auto;
}

a {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    background-color: skyblue;
    display: flex;
    margin: 10 px;
}


nav {
    flex-grow: 3;
}

nav ul {
    display: flex;
    justify-content: space-around; /* can be space-around */
    column-gap: 25px;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-weight:  700;
}


